# Ignore virtual environment
.venv/
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore training data (VERY BIG)
training/
training/*
training/**

# Ignore any PlantVillage dataset
PlantVillage/
dataset/

# Ignore OS/Editor files
.DS_Store

# ============================
# 📱 REACT NATIVE (mobile-app)
# ============================

mobile-app/
